body {
  font-size: .875rem;


}

h1,h2,h4,p {
   text-align: center;
}

#paragraph-p {
   text-align: left;
}

a {
	margin: 10px;
	color: #272822;
	font-size: 20px;

}

#advanced-a {
    margin-right: 20px;
}

code {
	background: #F1F1F1;
	padding: 5px;
	border-radius: 4px;
	color: #272822;
	font-size: 13px;
}

/*footer {
	position: bottom;
}*/
